In [1]:
%%capture

!apt-get update
!apt-get install -y openjdk-8-jdk-headless -qq
!apt-get install maven -qq

!curl -L "https://archive.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz" > spark-2.4.5-bin-hadoop2.7.tgz
!tar -xvf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark py4j
from pyspark.sql import SparkSession
from pyspark.sql.functions import when
from pyspark.sql import functions
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col
#from pyspark.sql.Column import isNull
from pyspark.sql.functions import lit
spark = SparkSession.builder.master("local[*]").config("spark.driver.memory", "16g").getOrCreate()

In [17]:
# with ColumnRenamed is used to properly rename the column name

In [4]:

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Spark Dataframes").getOrCreate()

In [19]:
df=spark.read.options(header='True',inferSchema='True').csv('StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [20]:
df=df.withColumnRenamed("gender","Sex").withColumnRenamed("roll","roll number")  # the best thing is , if it does not find these column , it will skip it out and won't throw exception
df.show()

+---+------+----------------+------+-----------+-----+--------------------+
|age|   Sex|            name|course|roll number|marks|               email|
+---+------+----------------+------+-----------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|      21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|      32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|      52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|      61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|      72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|     102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|     111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|     122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|     141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|     152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|     161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|     182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|     192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+-----------+-----+--------------------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import col
df.select(col("name").alias("Full Name")).show()  # creting an alias at run time , but actual will be alright

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows